@page "/rng"

<PageTitle>RNG</PageTitle>

<h1>RNG</h1>

<p role="status">Random integer between 0 and 100: @result</p>

<button class="btn btn-primary" @onclick="RNG">Click me</button>

@code {
    System.Random rand = new System.Random();
    private int result = 0;

    private void RNG()
    {
        result = rand.Next(0, 100);
    }
}
